<!-- Market Cap -->

<div id="market-cap-div" class="col s12">
  <section>
    <h2>Market Cap<small> Total: $<span id="tmc-num"><%= tmcData.total_market_cap_usd %></span></small></h2>
  </section>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ea rerum hic minus earum assumenda, sint perspiciatis laudantium est dignissimos sapiente temporibus illo non ab distinctio eius ad reiciendis culpa!</p>


  <table id="main-table" class="bordered highlight responsive-table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>Volume (24h)</th>
        <th>Change (24h)</th>
        <th>+</th>
      </tr>
    </thead>

    <tbody>

      <% for(var i = 0; i < 25; i++){ %>
      <tr id="mc-tr-<%= i+1 %>">
        <td id="mc-name-<%= i+1 %>">
          <%= tickerData[i].name %>
        </td>
        <td id="mc-marketcap-<%= i+1 %>">
          <%= tickerData[i].market_cap_usd %>
        </td>
        <td id="mc-price-<%= i+1 %>">
          <%= tickerData[i].price_usd %>
        </td>
        <td id="mc-vol-<%= i+1 %>">
          <%= tickerData[i]['24h_volume_usd'] %>
        </td>
        <td id="mc-change-<%= i+1 %>">
          <%= tickerData[i].percent_change_24h %>
        </td>
        <td>
          <button href="/watchlist/<%=tickerData[i].symbol%>" class="watchlist-add">+ Watchlist</button>
          <!-- <button href="/portfolio" class="portfolio-add">+ Portfolio</button> -->
        </td>
      </tr>
      <% }; %>

    </tbody>
  </table>
</div>



