<!-- Market Cap -->

<div id="market-cap-div" class="col s12">
  <section>
    <h2>Market Cap<small> Total: $<span id="tmc-num"><%= tmcData.total_market_cap_usd %></span></small></h2>
  </section>

  <table id="main-table" class="bordered highlight responsive-table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>Volume (24h)</th>
        <th>Change (24h)</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% for(var i = 0; i < 25; i++){ %>
      <tr id="mc-tr-<%= i+1 %>">
        <td id="mc-row-<%= i+1 %>">  
          <%= i+1 %>
        </td>
        <td id="mc-name-<%= i+1 %>">
          <%= tickerData[i].name %>
        </td>
        <td id="mc-marketcap-<%= i+1 %>">
          $<%= tickerData[i].market_cap_usd %>
        </td>
        <td id="mc-price-<%= i+1 %>">
          $<%= tickerData[i].price_usd %>
        </td>
        <td id="mc-vol-<%= i+1 %>">
          $<%= tickerData[i]['24h_volume_usd'] %>
        </td>
        <td id="mc-change-<%= i+1 %>">
          <%= tickerData[i].percent_change_24h %>%
        </td>
        <td>
        <% if(!currentUser){ %>
          <a href="/watchlist/<%=tickerData[i].symbol%>" class="disabled watchlist-add waves-effect waves-light btn #f57c00 orange darken-2">Watch</a>
        <% } else { %>
          <a href="/watchlist/<%=tickerData[i].symbol%>" class="watchlist-add waves-effect waves-light btn #f57c00 orange darken-2">Watch</a>
        <% } %>
        </td>

      </tr>
      <% }; %>

    </tbody>
  </table>

  <% include partials/portfolio-add.ejs %>
  
</div>



