<!-- Market Cap -->
<div id="market-cap-div" class="col s12">
  <section>
    <h2>Market Cap<br class="mc-break"><small> Total: <span id="tmc-num"><%= tmcUSD %></span></small></h2>
  </section>

  <table id="main-table" class="bordered highlight responsive-table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>Volume (24h)</th>
        <th>Change (24h)</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% for(var i = 0; i < 25; i++){ %>
      <tr id="mc-tr-<%= i+1 %>">
        <td class="coin-name">
          <%= tickerData[i].name %>
        </td>
        <td id="mc-marketcap-<%= i+1 %>">
          $<%= tickerData[i].market_cap_usd %>
        </td>
        <td id="mc-price-<%= i+1 %>">
          $<%= tickerData[i].price_usd %>
        </td>
        <td id="mc-vol-<%= i+1 %>">
          $<%= tickerData[i]['24h_volume_usd'] %>
        </td>
        <td class="mc-change 
        <% if(Math.sign(parseFloat(tickerData[i].percent_change_24h)) === -1){ %>
          neg-change 
        <% } %>
        ">
          <%= tickerData[i].percent_change_24h %>%
        </td>
        <td>
        <% if(!currentUser){ %>
          <a href="/watchlist/<%=tickerData[i].symbol%>" class="watchlist-add waves-effect waves-light btn #f57c00 orange darken-2 disabled">Watch</a>
        <% } else { %>
          <a href="/watchlist/<%=tickerData[i].symbol%>" class="watchlist-add waves-effect waves-light btn #f57c00 orange darken-2">Watch</a>
        <% } %>
        </td>

      </tr>
      <% }; %>

    </tbody>
  </table>

</div>



