<!-- Portfolio -->

<div id="portfolio-div" class="col s12">
  <h2>Portfolio</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ea rerum hic minus earum assumenda, sint perspiciatis laudantium est dignissimos sapiente temporibus illo non ab distinctio eius ad reiciendis culpa!</p>

  <table id="main-table" class="mdl-data-table bordered highlight" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>HODLings</th>
        <th>Value (USD)</th>
        <th>%</th>
        <th>+</th>
      </tr>
    </thead>

    <tbody>

      <% portfolioData.forEach(function(pData){ %>
      <tr id="<%= pData.coin.ticker %>-p-row">
        <td id="<%= pData.coin.ticker %>-p-name">
          <%= pData.coin.name %>
        </td>
        <td id="<%= pData.coin.ticker %>-p-price">
          <% tickerData.forEach(function(coin){ %>
            <% if(coin.symbol === pData.coin.ticker){ %>
              $<%= coin.price_usd %>
            <% } %>
          <% }); %>
        </td>
        <td id="<%= pData.coin.ticker %>-p-holdings">
          <%= pData.holding %>
        </td>
        <td id="<%= pData.coin.ticker %>-p-value">$$$</td>
        <td id="<%= pData.coin.ticker %>-p-percentage">%%%</td>
        
        <!-- <td>
          <button href="/portfolio/<%= pData.coin.ticker %>" class="portfolio-edit">Edit</button>
          <button href="/portfolio/<%= pData.coin.ticker %>" class="portfolio-remove">Remove</button>
        </td> -->

        <td>
          <!-- <a href="/portfolio/<%= pData.coin.ticker %>" class="portfolio-edit btn-floating btn waves-effect waves-light grey"><i class="material-icons">menu</i></a> -->
          <a href="/portfolio/<%= pData.coin.ticker %>" class="portfolio-remove btn-floating btn waves-effect waves-light red"><i class="material-icons">clear</i></a>
        </td>

      </tr>
      <% }); %>

    </tbody>
  </table>
</div>