<!-- Watchlist -->

<div id="watchlist-div" class="col s12">
  <h2>Watchlist</h2>

  <p>Watch your favorite projects here!</p>

  <table id="main-table" class="mdl-data-table bordered highlight" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Change (24h)</th>
        <th>-</th>
      </tr>
    </thead>

    <tbody>
      <% watchlistData.forEach(function(wlData){ %>
      <tr id="<%= wlData.coin.ticker %>-wl-row">
        <td id="<%= wlData.coin.ticker %>-wl-name">
          <%= wlData.coin.name %>
        </td>
        <td id="<%= wlData.coin.ticker %>-wl-price">
          <% tickerData.forEach(function(coin){ %>
            <% if(coin.symbol === wlData.coin.ticker){ %>
              $<%= coin.price_usd %>
            <% } %>
          <% }); %>
        </td>
        <td id="<%= wlData.coin.ticker %>-wl-24h-change">
          <% tickerData.forEach(function(coin){ %>
            <% if(coin.symbol === wlData.coin.ticker){ %>
              <%= coin.percent_change_24h %>%
            <% } %>
          <% }); %>
        </td>
        <td>
          <a href="#p-add-modal" class="waves-effect waves-light btn modal-trigger #f57c00 orange darken-2">HODL</a>
          <a href="/watchlist/<%= wlData.coin.ticker %>" class="watchlist-remove waves-effect waves-light btn #f57c00 orange darken-2">Remove</a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

</div>