<!-- Watchlist -->

<div id="watchlist-div" class="col s12">
  <h2>Watchlist</h2>

  <p>Watch your favorite projects here!</p>

  <table id="main-table" class="mdl-data-table bordered highlight" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Change (24h)</th>
        <th>-</th>
      </tr>
    </thead>

    <tbody>
      <% watchlistData.forEach(function(wl){ %>
      <tr id="<%= wl.coin.ticker %>-wl-row">
        <td id="<%= wl.coin.ticker %>-wl-name">
          <%= wl.coin.name %></td>
        <td id="<%= wl.coin.ticker %>-wl-price">
          <% tickerData.forEach(function(coin){ %>
            <% if(coin.symbol === wl.coin.ticker){ %>
              $<%= coin.price_usd %>
            <% } %>
          <% }); %>
        </td>
        <td id="<%= wl.coin.ticker %>-wl-24h-change">
          <% tickerData.forEach(function(coin){ %>
            <% if(coin.symbol === wl.coin.ticker){ %>
              <%= coin.percent_change_24h %>%
            <% } %>
          <% }); %>
        </td>
        <td><button href="/watchlist/<%= wl.coin.ticker %>" class="watchlist-remove">Remove</button></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

</div>